.update-password-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}

.update-password-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.update-password-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.update-password-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.update-password-container .btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-password-container .btn:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  text-align: center;
}

.success-message {
  color: green;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  text-align: center;
}
